body {
    font-family: "Outfit", sans-serif;
    background-color: rgba(231, 228, 228, 0.966);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: white;
    margin-top: 10%;
    padding: 20px;
    max-width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-content: space-between;
    border-radius: 3%;
    margin: 20px;
}

img {
    border-radius: 3%;
}

.container > p {
    padding: 10px;
    text-align: center;
    color: rgb(114, 113, 113);
}

#header {
    padding-top: 30px;
    font-weight: bold;
    font-size: 20px;
    color: rgb(32, 32, 32);
}